.container {
    font-family: 'Roboto', sans-serif;
    background: red;
    display: flex;
    justify-content: center;
}

.quote-body {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 8%;
    margin-bottom: 15%;
}

.fa-quote-right {
	padding-right: 10px;
}

.quote {
	display: flex;
	flex-direction: column;
    font-size: 1.4em;
    margin-top: 50px;
    background: white;
    padding: 20px;
    color: teal;
    width: 100%;
}

.author {
	align-self: flex-end;
}

.btn-grp {
	width: 80%;
	margin: auto;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
	border-style: none;
	font-weight: bold;
}

.tweet {
    margin-right: auto;
}
.tweet, .get-quote {
    height: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}

/*.tweetlink {
	height: 100%;
	width: 100%;
}*/

@media (max-width: 768px) {
	.quote {
		font-size: 0.9em;
	}
}
@media (min-width: 769px) {
	.quote {
		font-size: 1em;
	}
}
@media (min-width: 992px) {
	.quote {
		font-size: 1.2em;
	}
}
@media (min-width: 1200px) {
	.quote {
		font-size: 1.3em;
	}
}
